pyDOE==0.3.8
pandas==1.5.3
IPython==8.11.0
python-dateutil==2.8.2

pandas
numpy
requests
scipy
Cython
pingouin
pymoo
tabulate
scikit_posthocs
regex
matplotlib
scikit-learn
tensorflow
keras_tuner
protobuf==3.20.*
seaborn
joblib
pingouin
Sphinx>=2.2
sphinx_rtd_theme
sphinx-copybutton
sphinx-autoapi
sphinx_copybutton